#blog-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

#blog-list > ul {
    font-size: 2.25rem;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 800;
    line-height: 1.2;
    text-align: start;
    width: 35%;
}

#button-container {
    display: flex;
    justify-content: flex-end;
    width: 35%;
}
#button-container > button {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 800;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-decoration-style: solid;
    vertical-align: middle;
    color: #fff;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    background-color: rgb(0, 113, 137);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#button-container > button:hover {
    cursor: pointer;
}

