#header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 70vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/home-bg.jpg');
    background-position: center;
    background-size: cover;
}

#header-subtext {
    display: flex;
    justify-content: center;
    font-weight: 300;
    line-height: 1.1;
    font-size: 1.5rem;
    margin-top: 0.625rem;
}

#heading-text {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    width: 100%;
}

#nav-header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65vh;
}

#nav-container {
    display: flex;
    color: #fff;
    width: 100%;
    height: 15vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}