.nav-bar-link {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #fff;
    font-weight: 800;
    font-size: 1.25rem;
    text-decoration: none;
}

.nav-bar-link:hover {
    color: rgba(255, 255, 255, 0.8);
}

.nav-bar-links {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #fff;
    font-weight: 800;
    font-size: 0.75rem;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-bar-links:hover {
    color: rgba(255, 255, 255, 0.8);
}

#nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

#nav-bar-links-container {
    display: flex;
    justify-content: space-between;
    width: 30%;
}
